<h3>Eucalyptus</h3>
<p>A simple example of Facebook Auth with Koala 1.0.0 rc</p>
<div id="fb-root"></div>
<p style="color: green"><%= flash[:notice] %></p>
<h3>@facebook_cookies</h3>
<p><%= @facebook_cookies.inspect %></p>
<h3>@signed_request</h3>
<p><%= @signed_request.inspect %></p>
<h3>@oauth</h3>
<p><%= @oauth.inspect %></p>
<h3>@access_token</h3>
<p><%= @access_token %></p>